In [1]:
import pandas as pd
import numpy as np

In [2]:
DataIndex = {
    '2007y' : ['x01b', 'a01', 'a03a', 'a03b','a04a','a10b','a11a',"a19",'a20','a25b','a26a','d01a','d01b','d07e'],
    '2008y' : ['x01b', 'a01', 'a03a', 'a03b','a04a','a10b','a11a',"a19",'a20','a25b','a26a','c01a','c01b','c07b'],
    '2009y' : ['x01b', 'a01', 'a03a', 'a03b','a03c', 'a04a','a10a','a11a',"a18",'a19','a25a','a26a','c01a','c01b', 'd01e', 'c07b'],
    '2010y' : ['x01b', 'a01', 'a03a', 'a03b','a03c', 'a04a','a10a','a11a',"a18",'a19','a25a','a26a','c01a','c01b', 'c07b'],
    '2011y' : ['x01b', 'a01', 'a03a', 'a03b','a03c', 'a04a','a10a','a11a',"a18",'a19','a25a','a26a','c01a','c01b', 'c07b'],
    '2012y' : ['x01b', 'a01', 'a03a', 'a03b','a03c', 'a04a','a10a','a11a',"a18",'a19','a25a','a26a'],
    '2014y' : ['x01b', 'a01', 'a03a', 'a03b','a03c', 'a04a','a08a','a09B',"a27",'a28','a32a','a32B','c01a','c01b', 'c07b'],
}

In [3]:
def LoadData(path, ColumnUChoose = None):
    import pandas as pd
    
    df = pd.read_csv(path)
    if ColumnUChoose != None:
        data = df[ColumnUChoose].copy()
    else:
        data = df.copy()
    return data

In [4]:
def ChangeColumnNames(data):
    import pandas as pd
    
    colnames =  data.columns
    newcolumnlist = [] 
    for colname in colnames:
        try:
            new_colname = input(colname + '\t changes to :(  or a enter to skip  )')
            if new_colname == '':
                 newcolumnlist.append(colname)
            else:
                newcolumnlist.append(new_colname)
        except:        
            print('error at  ' + colname)
    print(newcolumnlist)
    
    newdi = dict(zip(colnames, newcolumnlist))
    data = data.rename(columns = newdi)
    return data

In [5]:
def ValueInColumns(data):
    import pandas as pd
    
    colnames =  data.columns
    for colname in colnames:
        print(data[colname].value_counts().index)

In [6]:
def ChangeValueInColumns(data):
    import pandas as pd
    from IPython.display import clear_output ############################################
    import time
    colnames =  data.columns
    for colname in colnames:
        time.sleep(0.3)
        clear_output() ############################################
        print(data[colname].value_counts().index)
        
        values = data[colname].value_counts().index
        choice = input('press aa to change other to skip :')
        
        if choice == 'aa':
            print('\n\n\n')

            default_values = dict(zip(list(values),list(values))) 
            clean = 1
            while True:
                clean += 1
                if clean % 2 == 0:
                    time.sleep(0.4)
                    clear_output() ############################################
                count = 1
                value1 = ''
                for value in default_values.values():
                    print("'" + value + "'", end=', ')
                    try:
                        if len(value.split(' ')) > 1:
                            if count == 1:
                                value1 = value
                                count += 1
                            
                    except:
                        print(value + ' is error')

                    
                WantToChange = input('What value do U want to change :\n(q1) to Exit \n(aa)' + value1 +'\n input:')
                if WantToChange == 'aa':
                    WantToChange = value1
                if WantToChange in default_values.keys():
                    ChangeValue = input('New Value : \n(a1) ' + value1.split(' ')[0] 
                                       + '\n(a11) NaN' + '\n input:')
                    if ChangeValue == 'a1':
                        ChangeValue = value1.split(' ')[0]
                    if ChangeValue == 'a11':
                        ChangeValue = 'NaN'
                        
                    default_values[ WantToChange ] = ChangeValue
                    
                elif WantToChange == 'q1':
                    break
                
                else: 
                    print('not in values!!!!!!!!!!!!!!!!!!!!!!')
                

                print('-'*50)
                
                    
            data[colname] = data[colname].replace(default_values)
            
#             for value in values:
#                 new_value = input(value + '\t\tchange to :(  or enter to skip)')
#                 if new_value == '':
#                     new_value_list.append(value)
#                 else:
#                     new_value_list.append(new_value)
#             data[colname].replace(dict(zip(values, new_value_list)))
            
            
        print('\n\n','-'*50)
    return data

## data2007

In [13]:

data2007 = LoadData('/Users/xiezhengqi/Desktop/data/data_csv/RR2007_c_V201101_stata.csv')# , ColumnUChoose=DataIndex['2007y']
# data2007 = LoadData('/Users/xiezhengqi/Desktop/data/data2007.csv')
# data2007 = data2007.iloc[:,1:]
# data2007 = data2007[['x01b','a01','a05','a21a','a10b','a25b','a16','a19','d01a','d07e']]
# data2007 = ChangeColumnNames(data2007)

# x01b : Age
# a01  : Sex
# a05  : Work?
# a21a : Work?(Mate)
# a10b : Income
# a25b : Income(Mate)
# a16  : Marriage?
# a19  : Education(Mate)
# d01a : HouseworkHour
# d07e : Satisfaction

data2007

,Unnamed: 0,update,x01,x01a,x01b,x01c,x01d,x01e,x02,x03z01,...,e03,e04a,e04b,f01,f02,f03,f06z01,f06z02,f06z03,f06z04
0,0,201101,10020,1 主樣本,1 1953-1964年出生之主樣本,1 第一波訪問,1002,0,2007,2,...,1 主要由妻子來管,0 不適用/跳答,0,0 不適用/跳答,0 不適用/跳答,0 不適用/跳答,2,3,23,15
1,1,201101,10040,1 主樣本,1 1953-1964年出生之主樣本,1 第一波訪問,1004,0,2007,2,...,0 不適用/跳答,0 不適用/跳答,0,0 不適用/跳答,0 不適用/跳答,0 不適用/跳答,2,22,15,0
2,2,201101,10050,1 主樣本,1 1953-1964年出生之主樣本,1 第一波訪問,1005,0,2007,2,...,0 不適用/跳答,0 不適用/跳答,0,0 不適用/跳答,0 不適用/跳答,0 不適用/跳答,2,13,13,50
3,3,201101,10060,1 主樣本,1 1953-1964年出生之主樣本,1 第一波訪問,1006,0,2007,2,...,1 主要由妻子來管,0 不適用/跳答,0,0 不適用/跳答,0 不適用/跳答,0 不適用/跳答,2,3,13,0
4,4,201101,10061,3 成為主樣本的子女樣本,5 1980年出生之子女樣本,1 第一波訪問,1006,1,2007,2,...,0 不適用/跳答,0 不適用/跳答,0,0 不適用/跳答,0 不適用/跳答,0 不適用/跳答,2,3,13,36
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3107,3107,201101,9250530,1 主樣本,2 1935-1954年出生之主樣本,1 第一波訪問,925053,0,2007,3,...,0 不適用/跳答,0 不適用/跳答,0,0 不適用/跳答,0 不適用/跳答,0 不適用/跳答,3,4,21,40
3108,3108,201101,9250600,1 主樣本,2 1935-1954年出生之主樣本,1 第一波訪問,925060,0,2007,3,...,3 沒有特定的人管,0 不適用/跳答,0,0 不適用/跳答,0 不適用/跳答,0 不適用/跳答,3,6,20,18
3109,3109,201101,9250690,1 主樣本,2 1935-1954年出生之主樣本,1 第一波訪問,925069,0,2007,2,...,3 沒有特定的人管,"4 各賺各的,各管各的",0,0 不適用/跳答,0 不適用/跳答,0 不適用/跳答,2,25,20,59
3110,3110,201101,9250780,1 主樣本,2 1935-1954年出生之主樣本,1 第一波訪問,925078,0,2007,3,...,0 不適用/跳答,0 不適用/跳答,0,0 不適用/跳答,0 不適用/跳答,0 不適用/跳答,3,5,18,40
3111,3111,201101,9250782,3 成為主樣本的子女樣本,4 1978-1979年出生之子女樣本,1 第一波訪問,925078,2,2007,3,...,0 不適用/跳答,0 不適用/跳答,0,0 不適用/跳答,0 不適用/跳答,0 不適用/跳答,3,6,21,23

In [10]:
data2007 = ChangeValueInColumns(data2007)
ValueInColumns(data2007)

Index(['2 還算滿意', '1 很滿意', '3 不太滿意', '4 很不滿意', '8 拒答'], dtype='object')

press aa to change other to skip :

 --------------------------------------------------
Index(['2 1935-1954年出生之主樣本', '3 1964-1976年出生之主樣本', '1 1953-1964年出生之主樣本',
       '4 1978-1979年出生之子女樣本', '5 1980年出生之子女樣本'],
      dtype='object')
Index(['1 男性', '2 女性'], dtype='object')
Index(['1 有', '2 沒有'], dtype='object')
Index(['1 有', '0 不適用/跳答', '2 沒有', '8 拒答'], dtype='object')
Index(['0', '30000', '20000', '40000', '50000', '25000', '35000', '45000',
       '15000', '60000',
       ...
       '14083', '70083', '34100', '85400', '64000', '84000', '1250', '121833',
       '22250', '54375'],
      dtype='object', length=429)
Index(['0', '30000', '9999996 不知道', '20000', '40000', '50000', '25000',
       '15000', '35000', '45000',
       ...
       '41167', '84583', '40500', '6250', '62500', '141667', '17600', '41500',
       '34438', '55800'],
      dtype='object', length=277)
Index(['03 已婚(第一次結婚)', '01 未婚', '08 喪偶', '07 離婚', '02 同居', '06 分居', '04 離婚再婚',
       '05 喪偶再婚'],
      dtype='object')
Index(['00 不適用/跳答', '03 小學', '08 高職', '04 國中/初中', '13 大學', '10 二專', '01 無',
       '06 高中普通科', '09 五專', '07 高中職業科', '14 碩士', '12 技術學院(科技大學)', '11 三專',
       '02 自修', '96 不知道', '98 拒答', '97 其他', '15 博士'],
      dtype='object')
Index(['7', '0', '14', '2', '1', '21', '3', '4', '10', '28', '5', '35', '20',
       '6', '30', '8', '15', '42', '12', '56', '25', '11', '18', '16', '40',
       '70', '24', '996 不知道', '60', '49', '48', '9', '50', '64', '84', '26',
       '112', '72', '29', '45', '23', '100', '91', '17', '120', '63', '44',
       '33', '32', '65', '168', '36', '34', '105', '998 拒答', '991 不固定', '13'],
      dtype='object')
Index(['2 還算滿意', '1 很滿意', '3 不太滿意', '4 很不滿意', '8 拒答'], dtype='object')

,x01b,a01,a05,a21a,a10b,a25b,a16,a19,d01a,d07e
0,1 1953-1964年出生之主樣本,1 男性,1 有,1 有,45000,24916,03 已婚(第一次結婚),08 高職,1,3 不太滿意
1,1 1953-1964年出生之主樣本,2 女性,1 有,0 不適用/跳答,17667,0,07 離婚,00 不適用/跳答,14,2 還算滿意
2,1 1953-1964年出生之主樣本,2 女性,1 有,0 不適用/跳答,200000,0,07 離婚,00 不適用/跳答,0,1 很滿意
3,1 1953-1964年出生之主樣本,1 男性,1 有,2 沒有,27083,0,03 已婚(第一次結婚),03 小學,14,1 很滿意
4,5 1980年出生之子女樣本,2 女性,1 有,0 不適用/跳答,31500,0,07 離婚,00 不適用/跳答,1,1 很滿意
...,...,...,...,...,...,...,...,...,...,...
3107,2 1935-1954年出生之主樣本,2 女性,2 沒有,0 不適用/跳答,0,0,08 喪偶,00 不適用/跳答,0,2 還算滿意
3108,2 1935-1954年出生之主樣本,1 男性,2 沒有,2 沒有,0,0,03 已婚(第一次結婚),04 國中/初中,0,2 還算滿意
3109,2 1935-1954年出生之主樣本,1 男性,2 沒有,2 沒有,0,0,03 已婚(第一次結婚),11 三專,0,1 很滿意
3110,2 1935-1954年出生之主樣本,1 男性,2 沒有,0 不適用/跳答,0,0,07 離婚,00 不適用/跳答,21,2 還算滿意
3111,4 1978-1979年出生之子女樣本,1 男性,2 沒有,0 不適用/跳答,0,0,01 未婚,00 不適用/跳答,6,2 還算滿意

In [9]:
data2007man_marriage = data2007[(data2007['Sex']=='1 男性') & (data2007['Marriage?']=='03 已婚(第一次結婚)')].copy()
data2007man_marriage = data2007man_marriage[(data2007man_marriage['Income']!= 'NaN') & 
                                            (data2007man_marriage['Income(Mate)']!= 'NaN')]

0
###### IncomeContributionRate
data2007man_marriage['Income'] = [int(i) for i in list(data2007man_marriage['Income'])]
data2007man_marriage['Income(Mate)'] = [int(i) for i in list(data2007man_marriage['Income(Mate)'])]
data2007man_marriage.loc[:,'IncomeContributionRate'] = data2007man_marriage['Income'] / (data2007man_marriage['Income(Mate)'] + data2007man_marriage['Income']) 
data2007man_marriage.loc[:,'IncomeContributionRate'] = 1 - data2007man_marriage['Income(Mate)'] / (data2007man_marriage['Income(Mate)'] + data2007man_marriage['Income'])
data2007man_marriage.loc[~(data2007man_marriage.loc[:,'IncomeContributionRate'] > 0),'IncomeContributionRate'] = 0
###### add time
data2007man_marriage.loc[:,'Time'] = '2007'
###### Work?
data2007man_marriage.loc[(data2007man_marriage.loc[:,'Work?'] == '1 有') & (data2007man_marriage.loc[:,'Work?(Mate)'] == '1 有'),
                        'Work?Both'] = '都有'
data2007man_marriage.loc[(data2007man_marriage.loc[:,'Work?'] == '1 有') & (data2007man_marriage.loc[:,'Work?(Mate)'] == '2 沒有'),
                        'Work?Both'] = '自己有'
data2007man_marriage.loc[(data2007man_marriage.loc[:,'Work?'] == '2 沒有') & (data2007man_marriage.loc[:,'Work?(Mate)'] == '1 有'),
                        'Work?Both'] = '配偶有'
data2007man_marriage.loc[(data2007man_marriage.loc[:,'Work?'] == '2 沒有') & (data2007man_marriage.loc[:,'Work?(Mate)'] == '2 沒有'),
                        'Work?Both'] = '都沒有'

data2007man_marriage = data2007man_marriage[['HouseworkHour','Age', 'Education(Mate)', 'Satisfaction',
                                             'IncomeContributionRate','Time','Work?Both']]
data2007man_marriage.index = range(len(data2007man_marriage.index))
###### save data
data2007man_marriage.to_csv('/Users/xiezhengqi/Desktop/data/data2007model2_man.csv',chunksize=30, index_label=None)
data2007man_marriage

KeyError: 'Sex'

0       False
1       False
2       False
3       False
4       False
        ...
1048    False
1049    False
1050    False
1051     True
1052     True
Name: IncomeContributionRate, Length: 1053, dtype: bool

In [11]:
data2007

,x01b,a01,a05,a21a,a10b,a25b,a16,a19,d01a,d07e
0,1 1953-1964年出生之主樣本,1 男性,1 有,1 有,45000,24916,03 已婚(第一次結婚),08 高職,1,3 不太滿意
1,1 1953-1964年出生之主樣本,2 女性,1 有,0 不適用/跳答,17667,0,07 離婚,00 不適用/跳答,14,2 還算滿意
2,1 1953-1964年出生之主樣本,2 女性,1 有,0 不適用/跳答,200000,0,07 離婚,00 不適用/跳答,0,1 很滿意
3,1 1953-1964年出生之主樣本,1 男性,1 有,2 沒有,27083,0,03 已婚(第一次結婚),03 小學,14,1 很滿意
4,5 1980年出生之子女樣本,2 女性,1 有,0 不適用/跳答,31500,0,07 離婚,00 不適用/跳答,1,1 很滿意
...,...,...,...,...,...,...,...,...,...,...
3107,2 1935-1954年出生之主樣本,2 女性,2 沒有,0 不適用/跳答,0,0,08 喪偶,00 不適用/跳答,0,2 還算滿意
3108,2 1935-1954年出生之主樣本,1 男性,2 沒有,2 沒有,0,0,03 已婚(第一次結婚),04 國中/初中,0,2 還算滿意
3109,2 1935-1954年出生之主樣本,1 男性,2 沒有,2 沒有,0,0,03 已婚(第一次結婚),11 三專,0,1 很滿意
3110,2 1935-1954年出生之主樣本,1 男性,2 沒有,0 不適用/跳答,0,0,07 離婚,00 不適用/跳答,21,2 還算滿意
3111,4 1978-1979年出生之子女樣本,1 男性,2 沒有,0 不適用/跳答,0,0,01 未婚,00 不適用/跳答,6,2 還算滿意

In [11]:
# IncomeContributionRate
# data2007.loc[:, 'IncomeContributionRate'] = data2007.loc[:,'Income']/ (data2007.loc[:,'Income'] + data2007.loc[:,'Income(Mate)'])

In [13]:
# data2007 = ChangeColumnNames(data2007)

In [ ]:
##data2007['Time']

In [ ]:
# ValueInColumns(data2007)
# data2007 = ChangeValueInColumns(data2007)

## process

In [94]:
##  model1

In [78]:
data2007model1 = data2007.copy()

In [111]:
data2007 = 0