In [75]:
import numpy as np
import pandas as pd
import math

In [8]:
data = {'Sold Price': [42, 52, 48, 58],
        'Number of Books': [4, 5, 4, 3],}

In [9]:
df1 = pd.DataFrame(data)

In [37]:
df1.sort_values(axis=0, ascending=True, by='Sold Price')

   Sold Price  Number of Books
0          42                4
2          48                4
1          52                5
3          58                3

In [56]:
x1 = np.array([42, 52, 48, 58])
x2 = np.array([4, 5, 4, 3])

In [57]:
X = np.array([x1,x2])

In [98]:
s1 = x1.var()
s2 = x2.var()
s12 = np.dot((x1 - x1.mean()), (x2 - x2.mean())) / x1.size
r12 = s12/math.sqrt(s1*s2)

In [104]:
np.stack([x1,x2], axis=1)

array([[42,  4],
       [52,  5],
       [48,  4],
       [58,  3]])