In [1]:
import pandas as pd
import numpy as np

In [1]:
DataIndex = {
    '2007y' : ['x05', 'a02a', 'a01', 'a03a', 'a04a', 'a05', 'a21a', 'a09a01', 'a10b', 'a25b', 'a16', 'a19', 'a11a', 'd01a', 'd07e'],
    '2008y' : ['x05', 'a02a', 'a01', 'a03a', 'a04a', 'a05', 'a21a', 'a09a01', 'a10b', 'a25b', 'a16z01', 'a19', 'a11a', 'c01a', 'c07b'],
    '2009y' : ['x05', 'a02a', 'a01', 'a03a', 'a04a', 'a05', 'a20', 'a09a01', 'a10a', 'a25a', 'a16z01', 'a18', 'a11a', 'c01a', 'c07b'],
    '2010y' : ['x05', 'a02a', 'a01', 'a03a', 'a04a', 'a05', 'a20', 'a09a01', 'a10a', 'a25a', 'a16z01', 'a18', 'a11a', 'c01a', 'c07b'],
    '2011y' : ['x05', 'a02a', 'a01', 'a03a', 'a04a', 'a05', 'a20', 'a09a01', 'a10a', 'a25a', 'a16a', 'a18', 'a11a', 'c01a', 'c07b'],

}

# 2007
# 'x05': 地址
# a02a : Age
# a01  : Sex
# a03a : Happiness
# a04a : Health
# a05  : Work?
# a21a : Work?(Mate)
# a09a01 : Vocation
# a10b : Income
# a25b : Income(Mate)
# a16  : Marriage?
# a19  : Education(Mate)
# a11a : WorkHour
# d01a : HouseworkHour
# d07e : Satisfaction


#2011 #Marriage !!!!!!!!

In [4]:
def LoadData(path, ColumnUChoose = None):
    import pandas as pd
    
    df = pd.read_csv(path)
    if ColumnUChoose != None:
        data = df[ColumnUChoose].copy()
    else:
        data = df.copy()
    return data

In [6]:
def ChangeColumnNames(data, newnamelist = None):
    import pandas as pd

    
    colnames =  data.columns
    
    if newnamelist == None:
        newcolumnlist = [] 
        for colname in colnames:
            try:
                new_colname = input(colname + '\t changes to :(  or a enter to skip  )')
                if new_colname == '':
                     newcolumnlist.append(colname)
                else:
                    newcolumnlist.append(new_colname)
            except:        
                print('error at  ' + colname)
    else:
        newcolumnlist = newnamelist
        print('請注意長度')
        
        
    print(newcolumnlist)
    
    newdi = dict(zip(colnames, newcolumnlist))
    data = data.rename(columns = newdi)
    return data

In [5]:
def ValueInColumns(data):
    import pandas as pd
    
    colnames =  data.columns
    for colname in colnames:
        print(data[colname].value_counts().index)

In [35]:
def ChangeValueInColumns(data):
    import pandas as pd
    import numpy as np
    from IPython.display import clear_output ############################################
    import time
    
    
    colnames =  data.columns
    for colname in colnames:
        time.sleep(0.1)
        clear_output() ############################################
        print(data[colname].value_counts().index)
        
        values = data[colname].value_counts().index
        print(colname)
        choice = input('press aa to change other to skip :')
        
        if choice == 'aa':
            

            default_values = dict(zip(list(values),[ str(i) for i in values])) 
            key = default_values.keys()
            while True:

                time.sleep(0.4)
                clear_output() ############################################
                    
                count = 1
                value1 = ''
                print(colname)
                print('-'*50)
                print('Before : ')
                for value in default_values.keys():
                    
                    print("'" + str(value) + "'", end=', ')
                print('\n')
                print('-'*50)

                print('After : ') 
                print('-'*50)
                for value in default_values.values():
                    print("'" + str(value) + "'", end=', ')
                    try:
                        if len(value.split(' ')) > 1:
                            if count == 1:
                                value1 = value
                                count += 1

                    except:
                        pass
    #                         print(str(value) + ' is error')

                    
                WantToChange = input('What value do U want to change :\n(q1) to Exit \n(aa)' + value1 +'\n input:')
                
                if WantToChange == 'aaa':
                    
                    for value in default_values.values():
                        if colname == 'Location':
                            default_values[ value ] = value.split(' ')[1][0:2]
                        else:
                            if len(value.split(' ')) > 1:
                                default_values[ value ] = value.split(' ')[0]
                            
                elif WantToChange == 'aaaa':
                    
                    for value in default_values.values():
                        if len(value.split(' ')) > 1:
                            default_values[ value ] = 'NaN'
                    
                else:
                    if WantToChange == 'aa':
                        WantToChange = value1
                    if WantToChange in default_values.keys():
                        ChangeValue = input('New Value : \n(a1) ' + value1.split(' ')[0] 
                                           + '\n(a11) NaN' + '\n input:')
                        if ChangeValue == 'a1':
                            ChangeValue = value1.split(' ')[0]
                        if ChangeValue == 'a11':
                            ChangeValue = 'NaN'
                        
                        default_values[ WantToChange ] = ChangeValue
                    
                    elif WantToChange == 'q1':
                        break
                
                    else: 
                        print('not in values!!!!!!!!!!!!!!!!!!!!!!')
                        time.sleep(0.7)

                    print('-'*50)
                
                    
            data[colname] = data[colname].replace(default_values)
            
#             for value in values:
#                 new_value = input(value + '\t\tchange to :(  or enter to skip)')
#                 if new_value == '':
#                     new_value_list.append(value)
#                 else:
#                     new_value_list.append(new_value)
#             data[colname].replace(dict(zip(values, new_value_list)))
            
        print('\n\n','-'*50)
    return data

In [141]:
def OutputData(data, time, sex):
    if sex == 'man':
        sex = '1 男性'
    else:
        sex = '2 女性'
        
    dataman_marriage = data.copy()
    try:
        dataman_marriage['Age'] = int(time) - 1911 - dataman_marriage['Age']
    except:
        dataman_marriage['Age'] = [int(time) - 1911 - eval(i) for i in dataman_marriage['Age']]

    dataman_marriage = data[(data['Sex']== sex) & (data['Marriage?']=='03 已婚(第一次結婚)')]

        ###### IncomeContributionRate
    dataman_marriage['Income'] = dataman_marriage['Income'].replace({'NaN':'0'})
    dataman_marriage['Income(Mate)'] = dataman_marriage['Income(Mate)'].replace({'NaN':'0'})
    
    dataman_marriage['Income'] = [eval(i) for i in list(dataman_marriage['Income'])]
    dataman_marriage['Income(Mate)'] = [eval(i) for i in list(dataman_marriage['Income(Mate)'])]
    dataman_marriage.loc[:,'IncomeContributionRate'] = dataman_marriage['Income'] / (dataman_marriage['Income(Mate)'] + dataman_marriage['Income']) 
    dataman_marriage.loc[~(dataman_marriage.loc[:,'IncomeContributionRate'] >= 0),'IncomeContributionRate'] = '雙方無收入'
       
        ###### add time
    dataman_marriage.loc[:,'Time'] = str(time)
    
        ###### Work?
    dataman_marriage.loc[(dataman_marriage.loc[:,'Work?'] == '1 有') & (dataman_marriage.loc[:,'Work?(Mate)'] == '1 有'),
                                'Work?Both'] = '都有'
    dataman_marriage.loc[(dataman_marriage.loc[:,'Work?'] == '1 有') & (dataman_marriage.loc[:,'Work?(Mate)'] == '2 沒有'),
                                'Work?Both'] = '自己有'
    dataman_marriage.loc[(dataman_marriage.loc[:,'Work?'] == '2 沒有') & (dataman_marriage.loc[:,'Work?(Mate)'] == '1 有'),
                                'Work?Both'] = '配偶有'
    dataman_marriage.loc[(dataman_marriage.loc[:,'Work?'] == '2 沒有') & (dataman_marriage.loc[:,'Work?(Mate)'] == '2 沒有'),
                                'Work?Both'] = '都沒有'


    dataman_marriage.index = range(len(dataman_marriage.index))
        ###### save data
    dataman_marriage.to_csv('/Users/xiezhengqi/Desktop/data/dataprocessed/data' + str(time) +'model_' + sex + '.csv',chunksize=30, index_label=None)
    print('/Users/xiezhengqi/Desktop/data/dataprocessed/data' + str(time) +'model_' + sex + '.csv')

## data2007

In [52]:
data2007 = LoadData('/Users/xiezhengqi/Desktop/data/data_csv/RR2007_c_V201101_stata.csv')
data2007 = data2007[DataIndex['2007y']]
newnamelist = ['Location','Age','Sex', 'Happiness', 'Health', 'Work?','Work?(Mate)', 'Vocation', 'Income','Income(Mate)',
               'Marriage?','Education(Mate)', 'WorkHour', 'HouseworkHour','Satisfaction']
data2007 = ChangeColumnNames(data2007,newnamelist)

# 2007

#'x05' : Location
# a02a : Age
# a01  : Sex
# a03a : Happiness
# a04a : Health
# a05  : Work?
# a21a : Work?(Mate)
# a09a01 : Vocation
# a10b : Income
# a25b : Income(Mate)
# a16  : Marriage?
# a19  : Education(Mate)
# a11a : WorkHour
# d01a : HouseworkHour
# d07e : Satisfaction

請注意長度
['Location', 'Age', 'Sex', 'Happiness', 'Health', 'Work?', 'Work?(Mate)', 'Vocation', 'Income', 'Income(Mate)', 'Marriage?', 'Education(Mate)', 'WorkHour', 'HouseworkHour', 'Satisfaction']

//anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3254: DtypeWarning: Columns (44,66,67,121,122,123,124,125,126,127,128,129,130,131,132,133,134,135,136,137,138,139,140,141,142,143,144,145,146,147,148,149,150,151,152,160,165,173,359,360,361,362) have mixed types.Specify dtype option on import or set low_memory=False.
  if (await self.run_code(code, result,  async_=asy)):

In [62]:
data2007 = ChangeValueInColumns(data2007)

Satisfaction
--------------------------------------------------
Before :
'2 還算滿意', '1 很滿意', '3 不太滿意', '4 很不滿意', 'NaN',

--------------------------------------------------
After :
--------------------------------------------------
'2', '1', '3', '4', 'NaN',

What value do U want to change :
(q1) to Exit
(aa)
 input: q1

 --------------------------------------------------

In [63]:
OutputData(data2007,time ='2007',sex='man')

/Users/xiezhengqi/Desktop/data/dataprocessed/data2007model_1 男性.csv

//anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]
//anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

//anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  app.launch_new_instance()
//anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [65]:
OutputData(data2007,time ='2007',sex='woman')

/Users/xiezhengqi/Desktop/data/dataprocessed/data2007model_2 女性.csv

//anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]
//anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

//anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  app.launch_new_instance()
//anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

## data2008

In [66]:
data2008 = LoadData('/Users/xiezhengqi/Desktop/data/data_csv/RR2008_c_v201207_stata.csv')
data2008 = data2008[DataIndex['2008y']]
newnamelist = ['Location', 'Age','Sex', 'Happiness', 'Health', 'Work?','Work?(Mate)', 'Vocation', 'Income','Income(Mate)',
               'Marriage?','Education(Mate)', 'WorkHour', 'HouseworkHour','Satisfaction']
data2008 = ChangeColumnNames(data2008,newnamelist)

請注意長度
['Location', 'Age', 'Sex', 'Happiness', 'Health', 'Work?', 'Work?(Mate)', 'Vocation', 'Income', 'Income(Mate)', 'Marriage?', 'Education(Mate)', 'WorkHour', 'HouseworkHour', 'Satisfaction']

//anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3254: DtypeWarning: Columns (340,341,372) have mixed types.Specify dtype option on import or set low_memory=False.
  if (await self.run_code(code, result,  async_=asy)):

In [67]:
data2008 = ChangeValueInColumns(data2008)

Satisfaction
--------------------------------------------------
Before :
'2 還算滿意', '1 很滿意', '3 不太滿意', '4 很不滿意',

--------------------------------------------------
After :
--------------------------------------------------
'2', '1', '3', '4',

What value do U want to change :
(q1) to Exit
(aa)
 input: q1

 --------------------------------------------------

In [72]:
data2008['Work?'].value_counts()

1 有     2257
2 沒有    1091
Name: Work?, dtype: int64

In [73]:
data2008['Work?'] = data2008['Work?'].replace({'1 有,從事有收入的工作(包括臨時或固定工作)':'1 有',
                                               '2 有,從事無酬家屬工作,而且每週工作15小時以上,或每天工作3小時以上':'1 有',
                                               '3 沒有':'2 沒有'})

In [80]:
data2008['Work?(Mate)'].value_counts()

1 有     1341
NaN     1145
2 沒有     862
Name: Work?(Mate), dtype: int64

In [79]:
data2008['Work?(Mate)'] = data2008['Work?(Mate)'].replace({'1 有,從事有收入的工作(包括臨時或固定工作)':'1 有',
                                                           '2 有,從事無酬家屬工作,而且每週工作15小時以上,或每天工作3小時以上':'1 有',
                                                           '3 沒有':'2 沒有',
                                                           '8 拒答':'NaN',
                                                           '0 跳答,不適用':'NaN',
                                                           '6 不知道,不清楚,不記得':'NaN'})

In [81]:
OutputData(data2008,time ='2008',sex='man')

/Users/xiezhengqi/Desktop/data/dataprocessed/data2008model_1 男性.csv

//anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]
//anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

//anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  app.launch_new_instance()
//anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [82]:
OutputData(data2008,time ='2008',sex='woman')

/Users/xiezhengqi/Desktop/data/dataprocessed/data2008model_2 女性.csv

//anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]
//anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

//anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  app.launch_new_instance()
//anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

## data2009

In [83]:
data2009 = LoadData('/Users/xiezhengqi/Desktop/data/data_csv/RR2009_c_V201212_stata.csv')
data2009 = data2009[DataIndex['2009y']].copy()
newnamelist = ['Location', 'Age','Sex', 'Happiness', 'Health', 'Work?','Work?(Mate)', 'Vocation', 'Income','Income(Mate)',
               'Marriage?','Education(Mate)', 'WorkHour', 'HouseworkHour','Satisfaction']
data2009 = ChangeColumnNames(data2009,newnamelist)

# 配偶工作 缺失 比例過高

請注意長度
['Location', 'Age', 'Sex', 'Happiness', 'Health', 'Work?', 'Work?(Mate)', 'Vocation', 'Income', 'Income(Mate)', 'Marriage?', 'Education(Mate)', 'WorkHour', 'HouseworkHour', 'Satisfaction']

//anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3254: DtypeWarning: Columns (11,12,17,60,61,71,72,109,110,114,115,163,165,167,168,176,332,333,334,335,336,366,426,445,488,489,490,492,542,543) have mixed types.Specify dtype option on import or set low_memory=False.
  if (await self.run_code(code, result,  async_=asy)):

In [84]:
data2009 = ChangeValueInColumns(data2009)

Satisfaction
--------------------------------------------------
Before :
'2 還算滿意', '1 很滿意', '3 不太滿意', '4 很不滿意',

--------------------------------------------------
After :
--------------------------------------------------
'2', '1', '3', '4',

What value do U want to change :
(q1) to Exit
(aa)
 input: q1

 --------------------------------------------------

In [89]:
data2009['Work?'].value_counts()

1 有     2025
2 沒有    1183
Name: Work?, dtype: int64

In [90]:
data2009['Work?'] = data2009['Work?'].replace({'1 有,從事有收入的工作(包括臨時或固定工作)':'1 有',
                                               '2 有,從事無酬家屬工作,而且每週工作15小時以上,或每天工作3小時以上':'1 有',
                                               '3 沒有':'2 沒有'})

In [91]:
data2009['Work?(Mate)'].value_counts()

1 有     1238
NaN     1079
2 沒有     891
Name: Work?(Mate), dtype: int64

In [92]:
data2009['Work?(Mate)'] = data2009['Work?(Mate)'].replace({'1 有,從事有收入的工作(包括臨時或固定工作)':'1 有',
                                                           '2 有,從事無酬家屬工作,而且每週工作15小時以上,或每天工作3小時以上':'1 有',
                                                           '3 沒有':'2 沒有',
                                                           '8 拒答':'NaN',
                                                           '6 不知道':'NaN',
                                                           '0 不適用/跳答':'NaN'})

In [93]:
OutputData(data2009,time ='2009',sex='man')

/Users/xiezhengqi/Desktop/data/dataprocessed/data2009model_1 男性.csv

//anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]
//anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

//anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  app.launch_new_instance()
//anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [94]:
OutputData(data2009,time ='2009',sex='woman')

/Users/xiezhengqi/Desktop/data/dataprocessed/data2009model_2 女性.csv

//anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]
//anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

//anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  app.launch_new_instance()
//anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

## data2010

In [96]:
data2010 = LoadData('/Users/xiezhengqi/Desktop/data/data_csv/RR2010_c_v201308_stata.csv')
data2010 = data2010[DataIndex['2010y']]
newnamelist = ['Location','Age','Sex', 'Happiness', 'Health', 'Work?','Work?(Mate)', 'Vocation', 'Income','Income(Mate)',
               'Marriage?','Education(Mate)', 'WorkHour', 'HouseworkHour','Satisfaction']
data2010 = ChangeColumnNames(data2010,newnamelist)

# 配偶工作 缺失 比例過高

請注意長度
['Location', 'Age', 'Sex', 'Happiness', 'Health', 'Work?', 'Work?(Mate)', 'Vocation', 'Income', 'Income(Mate)', 'Marriage?', 'Education(Mate)', 'WorkHour', 'HouseworkHour', 'Satisfaction']

In [99]:
data2010 = ChangeValueInColumns(data2010)

Index(['2', '1', '3', '4', 'NaN'], dtype='object')
Satisfaction

press aa to change other to skip :

 --------------------------------------------------

In [104]:
data2010['Work?'].value_counts()

1 有     3629
2 沒有    1444
Name: Work?, dtype: int64

In [105]:
data2010['Work?'] = data2010['Work?'].replace({'1 有,從事有收入的工作':'1 有',
                                               '2 有,從事無酬家屬工作,而且每週工作15小時以上,或每天工作3小時以上':'1 有',
                                               '3 沒有':'2 沒有'})

In [106]:
data2010['Work?(Mate)'].value_counts()

NaN     2372
1 有     1764
2 沒有     937
Name: Work?(Mate), dtype: int64

In [107]:
data2010['Work?(Mate)'] = data2010['Work?(Mate)'].replace({'1 有,從事有收入的工作':'1 有',
                                                           '2 有,從事無酬家屬工作,而且每週工作15小時以上,或每天工作3小時以上':'1 有',
                                                           '3 沒有':'2 沒有',
                                                           '8 拒答':'NaN',
                                                           '6 不知道':'NaN',
                                                           '0 不適用/跳答':'NaN'})

In [142]:
OutputData(data2010,time ='2010',sex='man')

/Users/xiezhengqi/Desktop/data/dataprocessed/data2010model_1 男性.csv

//anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  app.launch_new_instance()
//anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
//anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
//anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [143]:
OutputData(data2010,time ='2010',sex='woman')

/Users/xiezhengqi/Desktop/data/dataprocessed/data2010model_2 女性.csv

//anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  app.launch_new_instance()
//anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
//anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
//anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [11]:
from sklearn.linear_model import LinearRegression
import pandas as pd
import numpy as np

In [12]:

df = df.loc[df['IncomeContributionRate'] !=  '雙方無收入',:]
workdata = df[{'Work?Both':list(df['Work?Both'].value_counts().index)}]
df[list(pd.get_dummies(workdata).columns)] = pd.get_dummies(workdata)

edudata = df[{'Education(Mate)':list(df['Education(Mate)'].value_counts().index)}]
df[list(pd.get_dummies(edudata).columns)] = pd.get_dummies(edudata)

//anaconda3/lib/python3.7/site-packages/pandas/core/frame.py:2963: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

In [13]:

y = df.Satisfaction
X = df[['Age','Happiness','Health','Income','Income(Mate)','WorkHour','HouseworkHour','IncomeContributionRate']
       + list(pd.get_dummies(workdata).columns)
       + list(pd.get_dummies(edudata).columns)]


X.WorkHour = X.WorkHour.fillna(X.WorkHour.median())
X.HouseworkHour = X.HouseworkHour.fillna(X.HouseworkHour.median())
y =  y.fillna(y.median())

//anaconda3/lib/python3.7/site-packages/pandas/core/generic.py:5303: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

In [36]:
# ans = LinearRegression().fit(X,y)
# ans.score(X,y)

In [3]:
df1 = pd.read_csv('/Users/xiezhengqi/Desktop/data/dataprocessed/data2008model_1 男性.csv')
df2 = pd.read_csv('/Users/xiezhengqi/Desktop/data/dataprocessed/data2007model_1 男性.csv')
df3 = pd.read_csv('/Users/xiezhengqi/Desktop/data/dataprocessed/data2009model_1 男性.csv')
df4 = pd.read_csv('/Users/xiezhengqi/Desktop/data/dataprocessed/data2010model_1 男性.csv')

In [4]:
df = pd.concat([df1,df2,df3,df4])
df = df.iloc[:, 1:]
df

,Location,Age,Sex,Happiness,Health,Work?,Work?(Mate),Vocation,Income,Income(Mate),Marriage?,Education(Mate),WorkHour,HouseworkHour,Satisfaction,IncomeContributionRate,Time,Work?Both
0,台北,51.0,1 男性,4.0,2,1 有,1 有,"062 零售業(包含電腦買賣,藥局,書局以及超商百貨)",55000.0,24917.0,03 已婚(第一次結婚),08 高職,72.0,7.0,2,0.6882140220478746,2008,都有
1,高雄,51.0,1 男性,3.0,3,1 有,1 有,097 文化及康樂服務業,16000.0,25250.0,03 已婚(第一次結婚),08 高職,40.0,2.0,2,0.3878787878787879,2008,都有
2,高雄,48.0,1 男性,4.0,3,1 有,2 沒有,"000 跳答,不適用",25000.0,0.0,03 已婚(第一次結婚),08 高職,44.0,8.0,2,1.0,2008,自己有
3,高雄,49.0,1 男性,4.0,3,1 有,2 沒有,"000 跳答,不適用",33750.0,0.0,03 已婚(第一次結婚),08 高職,40.0,3.0,1,1.0,2008,自己有
4,臺東,62.0,1 男性,7.0,1,1 有,1 有,"000 跳答,不適用",61583.0,37125.0,03 已婚(第一次結婚),13 大學,48.0,1.0,1,0.6238906674231065,2008,都有
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1281,台北,26.0,1 男性,7.0,5,2 沒有,2 沒有,000 不適用/跳答,0.0,0.0,03 已婚(第一次結婚),03 小學,NaN,0.0,2,雙方無收入,2010,都沒有
1282,花蓮,71.0,1 男性,4.0,3,1 有,2 沒有,043 專門營造業,20000.0,0.0,03 已婚(第一次結婚),08 高職,16.0,5.0,2,1.0,2010,自己有
1283,花蓮,67.0,1 男性,5.0,3,1 有,1 有,000 不適用/跳答,40000.0,20000.0,03 已婚(第一次結婚),10 二專,48.0,8.0,1,0.6666666666666666,2010,都有
1284,花蓮,66.0,1 男性,2.0,3,1 有,1 有,039 污染整治業,25500.0,18000.0,03 已婚(第一次結婚),08 高職,57.0,4.0,3,0.5862068965517241,2010,都有
1285,花蓮,68.0,1 男性,5.0,2,2 沒有,2 沒有,000 不適用/跳答,0.0,0.0,03 已婚(第一次結婚),04 初(國)中,NaN,0.0,1,雙方無收入,2010,都沒有

In [5]:
locationdata = df[{'Location':list(df['Location'].value_counts().index)}]
df[list(pd.get_dummies(locationdata).columns)] = pd.get_dummies(locationdata)

In [6]:
df.loc[(df['Age'] >= 65),'AgeClass'] = '65 ~ '
df.loc[(df['Age'] >= 25) & (df['Age'] < 35),'AgeClass'] = '25 ~ 35'
df.loc[(df['Age'] >= 35) & (df['Age'] < 43),'AgeClass'] = '35 ~ 43'
df.loc[(df['Age'] >= 43) & (df['Age'] < 54),'AgeClass'] = '43 ~ 54'
df.loc[(df['Age'] >= 54) & (df['Age'] < 56),'AgeClass'] = '54 ~ 65'
agedata = df[{'AgeClass':list(df['AgeClass'].value_counts().index)}]
df[list(pd.get_dummies(agedata).columns)] = pd.get_dummies(agedata)

In [7]:
df.loc[:, 'FamilyIncome'] = df.loc[:,'Income'] + df.loc[:,'Income(Mate)']

In [8]:
df.loc[(df['FamilyIncome'] >= 200000),'FamilyIncomeClass'] = ' > 200,000'
df.loc[(df['FamilyIncome'] >= 150000) & (df['FamilyIncome'] < 200000),'FamilyIncomeClass'] = '150,000 ~ 200,000'
df.loc[(df['FamilyIncome'] >= 100000) & (df['FamilyIncome'] < 150000),'FamilyIncomeClass'] = '100,000 ~ 150,000'
df.loc[(df['FamilyIncome'] >= 50000) & (df['FamilyIncome'] < 100000),'FamilyIncomeClass'] = '50,000 ~ 100,000'
df.loc[(df['FamilyIncome'] >= 0) & (df['FamilyIncome'] < 50000),'FamilyIncomeClass'] = '0 ~ 50,000'


incomedata = df[{'FamilyIncomeClass':list(df['FamilyIncomeClass'].value_counts().index)}]
df[list(pd.get_dummies(incomedata).columns)] = pd.get_dummies(incomedata)

In [9]:
df.to_csv('/Users/xiezhengqi/Desktop/data/dataprocessed/2007-2010_man.csv', chunksize=30, index_label = None)

In [10]:
df

,Location,Age,Sex,Happiness,Health,Work?,Work?(Mate),Vocation,Income,Income(Mate),...,AgeClass_43 ~ 54,AgeClass_54 ~ 65,AgeClass_65 ~,FamilyIncome,FamilyIncomeClass,"FamilyIncomeClass_ > 200,000","FamilyIncomeClass_0 ~ 50,000","FamilyIncomeClass_100,000 ~ 150,000","FamilyIncomeClass_150,000 ~ 200,000","FamilyIncomeClass_50,000 ~ 100,000"
0,台北,51.0,1 男性,4.0,2,1 有,1 有,"062 零售業(包含電腦買賣,藥局,書局以及超商百貨)",55000.0,24917.0,...,1,0,0,79917.0,"50,000 ~ 100,000",0,0,0,0,1
1,高雄,51.0,1 男性,3.0,3,1 有,1 有,097 文化及康樂服務業,16000.0,25250.0,...,1,0,0,41250.0,"0 ~ 50,000",0,1,0,0,0
2,高雄,48.0,1 男性,4.0,3,1 有,2 沒有,"000 跳答,不適用",25000.0,0.0,...,1,0,0,25000.0,"0 ~ 50,000",0,1,0,0,0
3,高雄,49.0,1 男性,4.0,3,1 有,2 沒有,"000 跳答,不適用",33750.0,0.0,...,1,0,0,33750.0,"0 ~ 50,000",0,1,0,0,0
4,臺東,62.0,1 男性,7.0,1,1 有,1 有,"000 跳答,不適用",61583.0,37125.0,...,0,0,0,98708.0,"50,000 ~ 100,000",0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1281,台北,26.0,1 男性,7.0,5,2 沒有,2 沒有,000 不適用/跳答,0.0,0.0,...,0,0,0,0.0,"0 ~ 50,000",0,1,0,0,0
1282,花蓮,71.0,1 男性,4.0,3,1 有,2 沒有,043 專門營造業,20000.0,0.0,...,0,0,1,20000.0,"0 ~ 50,000",0,1,0,0,0
1283,花蓮,67.0,1 男性,5.0,3,1 有,1 有,000 不適用/跳答,40000.0,20000.0,...,0,0,1,60000.0,"50,000 ~ 100,000",0,0,0,0,1
1284,花蓮,66.0,1 男性,2.0,3,1 有,1 有,039 污染整治業,25500.0,18000.0,...,0,0,1,43500.0,"0 ~ 50,000",0,1,0,0,0
1285,花蓮,68.0,1 男性,5.0,2,2 沒有,2 沒有,000 不適用/跳答,0.0,0.0,...,0,0,1,0.0,"0 ~ 50,000",0,1,0,0,0

In [11]:
df.FamilyIncomeClass.value_counts()

0 ~ 50,000           2704
50,000 ~ 100,000     1311
100,000 ~ 150,000     366
150,000 ~ 200,000      87
 > 200,000             77
Name: FamilyIncomeClass, dtype: int64

In [12]:
df = pd.read_csv('/Users/xiezhengqi/Desktop/data/dataprocessed/2007-2010_man.csv')
df1 = pd.read_csv('/Users/xiezhengqi/Desktop/data/dataprocessed/2007-2010.csv')

In [13]:
df2 = pd.concat([df, df1])

In [17]:
df2.index = range(len(df2.index))