In [1]:
import pandas as pd
import numpy as np

In [2]:
DataIndex = {
    '2007y' : ['x01b', 'a01', 'a03a', 'a03b','a04a','a10b','a11a',"a19",'a20','a25b','a26a','d01a','d01b','d07e'],
    '2008y' : ['x01b', 'a01', 'a03a', 'a03b','a04a','a10b','a11a',"a19",'a20','a25b','a26a','c01a','c01b','c07b'],
    '2009y' : ['x01b', 'a01', 'a03a', 'a03b','a03c', 'a04a','a10a','a11a',"a18",'a19','a25a','a26a','c01a','c01b', 'd01e', 'c07b'],
    '2010y' : ['x01b', 'a01', 'a03a', 'a03b','a03c', 'a04a','a10a','a11a',"a18",'a19','a25a','a26a','c01a','c01b', 'c07b'],
    '2011y' : ['x01b', 'a01', 'a03a', 'a03b','a03c', 'a04a','a10a','a11a',"a18",'a19','a25a','a26a','c01a','c01b', 'c07b'],
    '2012y' : ['x01b', 'a01', 'a03a', 'a03b','a03c', 'a04a','a10a','a11a',"a18",'a19','a25a','a26a'],
    '2014y' : ['x01b', 'a01', 'a03a', 'a03b','a03c', 'a04a','a08a','a09B',"a27",'a28','a32a','a32B','c01a','c01b', 'c07b'],
}

In [3]:
def LoadData(path, ColumnUChoose = None):
    import pandas as pd
    
    df = pd.read_csv(path)
    if ColumnUChoose != None:
        data = df[ColumnUChoose].copy()
    else:
        data = df.copy()
    return data

In [4]:
def ChangeColumnNames(data):
    import pandas as pd
    
    colnames =  data.columns
    newcolumnlist = [] 
    for colname in colnames:
        try:
            new_colname = input(colname + '\t changes to :(  or a enter to skip  )')
            if new_colname == '':
                 newcolumnlist.append(colname)
            else:
                newcolumnlist.append(new_colname)
        except:        
            print('error at  ' + colname)
    print(newcolumnlist)
    
    newdi = dict(zip(colnames, newcolumnlist))
    data = data.rename(columns = newdi)
    return data

In [5]:
def ValueInColumns(data):
    import pandas as pd
    
    colnames =  data.columns
    for colname in colnames:
        print(data[colname].value_counts().index)

In [6]:
def ChangeValueInColumns(data):
    import pandas as pd
    from IPython.display import clear_output ############################################
    import time
    colnames =  data.columns
    for colname in colnames:
        time.sleep(0.3)
        clear_output() ############################################
        print(data[colname].value_counts().index)
        
        values = data[colname].value_counts().index
        choice = input('press aa to change other to skip :')
        
        if choice == 'aa':
            print('\n\n\n')

            default_values = dict(zip(list(values),list(values))) 
            clean = 1
            while True:
                clean += 1
                if clean % 2 == 0:
                    time.sleep(0.4)
                    clear_output() ############################################
                count = 1
                value1 = ''
                for value in default_values.values():
                    print("'" + value + "'", end=', ')
                    try:
                        if len(value.split(' ')) > 1:
                            if count == 1:
                                value1 = value
                                count += 1
                            
                    except:
                        print(value + ' is error')

                    
                WantToChange = input('What value do U want to change :\n(q1) to Exit \n(aa)' + value1 +'\n input:')
                if WantToChange == 'aa':
                    WantToChange = value1
                if WantToChange in default_values.keys():
                    ChangeValue = input('New Value : \n(a1) ' + value1.split(' ')[0] 
                                       + '\n(a11) NaN' + '\n input:')
                    if ChangeValue == 'a1':
                        ChangeValue = value1.split(' ')[0]
                    if ChangeValue == 'a11':
                        ChangeValue = 'NaN'
                        
                    default_values[ WantToChange ] = ChangeValue
                    
                elif WantToChange == 'q1':
                    break
                
                else: 
                    print('not in values!!!!!!!!!!!!!!!!!!!!!!')
                

                print('-'*50)
                
                    
            data[colname] = data[colname].replace(default_values)
            
#             for value in values:
#                 new_value = input(value + '\t\tchange to :(  or enter to skip)')
#                 if new_value == '':
#                     new_value_list.append(value)
#                 else:
#                     new_value_list.append(new_value)
#             data[colname].replace(dict(zip(values, new_value_list)))
            
            
        print('\n\n','-'*50)
    return data

## data2007

In [170]:
data2007 = LoadData('/Users/xiezhengqi/Desktop/data/data_csv/RR2007_c_V201101_stata.csv')# , ColumnUChoose=DataIndex['2007y']
# data2007 = LoadData('/Users/xiezhengqi/Desktop/data/data2007.csv')
data2007 = data2007.iloc[:,1:]
data2007 = data2007[['x01b','a01','a05','a21a','a10b','a25b','a16','a19','d01a','d07e']]
data2007 = ChangeColumnNames(data2007)

# x01b : Age
# a01  : Sex
# a05  : Work?
# a21a : Work?(Mate)
# a10b : Income
# a25b : Income(Mate)
# a16  : Marriage?
# a19  : Education(Mate)
# d01a : HouseworkHour
# d07e : Satisfaction

//anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3254: DtypeWarning: Columns (44,66,67,121,122,123,124,125,126,127,128,129,130,131,132,133,134,135,136,137,138,139,140,141,142,143,144,145,146,147,148,149,150,151,152,160,165,173,359,360,361,362) have mixed types.Specify dtype option on import or set low_memory=False.
  if (await self.run_code(code, result,  async_=asy)):

x01b	 changes to :(  or a enter to skip  ) Age
a01	 changes to :(  or a enter to skip  ) Sex
a05	 changes to :(  or a enter to skip  ) Work?
a21a	 changes to :(  or a enter to skip  ) Work?(Mate)
a10b	 changes to :(  or a enter to skip  ) Income
a25b	 changes to :(  or a enter to skip  ) Income(Mate)
a16	 changes to :(  or a enter to skip  ) Marriage?
a19	 changes to :(  or a enter to skip  ) Education(Mate)
d01a	 changes to :(  or a enter to skip  ) HouseworkHour
d07e	 changes to :(  or a enter to skip  ) Satisfaction

['Age', 'Sex', 'Work?', 'Work?(Mate)', 'Income', 'Income(Mate)', 'Marriage?', 'Education(Mate)', 'HouseworkHour', 'Satisfaction']

In [173]:
data2007 = ChangeValueInColumns(data2007)
ValueInColumns(data2007)

'2', '1', '3', '4', 'NaN',

What value do U want to change :
(q1) to Exit
(aa)
 input: q1

 --------------------------------------------------
Index(['2 1935-1954年出生之主樣本', '3 1964-1976年出生之主樣本', '1 1953-1964年出生之主樣本',
       '4 1978-1979年出生之子女樣本', '5 1980年出生之子女樣本'],
      dtype='object')
Index(['1 男性', '2 女性'], dtype='object')
Index(['1 有', '2 沒有'], dtype='object')
Index(['1 有', 'NaN', '2 沒有'], dtype='object')
Index(['0', '30000', '20000', '40000', '50000', '25000', '35000', '45000',
       '15000', 'NaN',
       ...
       '36666', '22750', '28650', '30417', '35333', '31400', '32666', '27417',
       '800000', '8300'],
      dtype='object', length=425)
Index(['0', '30000', 'NaN', '20000', '40000', '25000', '50000', '15000',
       '35000', '45000',
       ...
       '25333', '393333', '25917', '5833', '21700', '46500', '56666', '118000',
       '70375', '130000'],
      dtype='object', length=273)
Index(['03 已婚(第一次結婚)', '01 未婚', '08 喪偶', '07 離婚', '02 同居', '06 分居', '04 離婚再婚',
       '05 喪偶再婚'],
      dtype='object')
Index(['00 不適用/跳答', '03 小學', '08 高職', '04 國中/初中', '13 大學', '10 二專', '01 無',
       '06 高中普通科', '09 五專', '07 高中職業科', '14 碩士', '12 技術學院(科技大學)', '11 三專',
       '02 自修', 'NaN', '15 博士', '97 其他'],
      dtype='object')
Index(['7', '0', '14', '2', '1', '21', '3', '4', '10', '28', '5', '35', '20',
       '6', '30', '8', '15', '42', '12', '56', '25', '11', '18', '16', '40',
       '70', '24', 'NaN', '60', '49', '48', '9', '50', '84', '64', '26', '29',
       '72', '23', '45', '112', '120', '65', '91', '105', '34', '17', '100',
       '36', '33', '32', '13', '63', '168', '44'],
      dtype='object')
Index(['2', '1', '3', '4', 'NaN'], dtype='object')

In [184]:
data2007man_marriage = data2007[(data2007['Sex']=='1 男性') & (data2007['Marriage?']=='03 已婚(第一次結婚)')].copy()
data2007man_marriage = data2007man_marriage[(data2007man_marriage['Income']!= 'NaN') & 
                                            (data2007man_marriage['Income(Mate)']!= 'NaN')]


###### IncomeContributionRate
data2007man_marriage['Income'] = [int(i) for i in list(data2007man_marriage['Income'])]
data2007man_marriage['Income(Mate)'] = [int(i) for i in list(data2007man_marriage['Income(Mate)'])]
data2007man_marriage.loc[:,'IncomeContributionRate'] = data2007man_marriage['Income'] / (data2007man_marriage['Income(Mate)'] + data2007man_marriage['Income']) 
data2007man_marriage.loc[:,'IncomeContributionRate'] = 1 - data2007man_marriage['Income(Mate)'] / (data2007man_marriage['Income(Mate)'] + data2007man_marriage['Income'])
data2007man_marriage.loc[~(data2007man_marriage.loc[:,'IncomeContributionRate'] > 0),'IncomeContributionRate'] = 0
###### add time
data2007man_marriage.loc[:,'Time'] = '2007'
###### Work?
data2007man_marriage.loc[(data2007man_marriage.loc[:,'Work?'] == '1 有') & (data2007man_marriage.loc[:,'Work?(Mate)'] == '1 有'),
                        'Work?Both'] = '都有'
data2007man_marriage.loc[(data2007man_marriage.loc[:,'Work?'] == '1 有') & (data2007man_marriage.loc[:,'Work?(Mate)'] == '2 沒有'),
                        'Work?Both'] = '自己有'
data2007man_marriage.loc[(data2007man_marriage.loc[:,'Work?'] == '2 沒有') & (data2007man_marriage.loc[:,'Work?(Mate)'] == '1 有'),
                        'Work?Both'] = '配偶有'
data2007man_marriage.loc[(data2007man_marriage.loc[:,'Work?'] == '2 沒有') & (data2007man_marriage.loc[:,'Work?(Mate)'] == '2 沒有'),
                        'Work?Both'] = '都沒有'

data2007man_marriage = data2007man_marriage[['HouseworkHour','Age', 'Education(Mate)', 'Satisfaction',
                                             'IncomeContributionRate','Time','Work?Both']]
data2007man_marriage.index = range(len(data2007man_marriage.index))
###### save data
data2007man_marriage.to_csv('/Users/xiezhengqi/Desktop/data/data2007model2_man.csv',chunksize=30, index_label=None)
data2007man_marriage

,HouseworkHour,Age,Education(Mate),Satisfaction,IncomeContributionRate,Time,Work?Both
0,1,1 1953-1964年出生之主樣本,08 高職,3,0.643629,2007,都有
1,14,1 1953-1964年出生之主樣本,03 小學,1,1.000000,2007,自己有
2,7,1 1953-1964年出生之主樣本,08 高職,2,0.731278,2007,都有
3,14,1 1953-1964年出生之主樣本,08 高職,1,1.000000,2007,自己有
4,7,1 1953-1964年出生之主樣本,08 高職,3,0.718230,2007,都有
...,...,...,...,...,...,...,...
1048,2,2 1935-1954年出生之主樣本,09 五專,1,1.000000,2007,自己有
1049,0,2 1935-1954年出生之主樣本,13 大學,1,1.000000,2007,自己有
1050,7,2 1935-1954年出生之主樣本,13 大學,1,1.000000,2007,自己有
1051,0,2 1935-1954年出生之主樣本,04 國中/初中,2,0.000000,2007,都沒有
1052,0,2 1935-1954年出生之主樣本,11 三專,1,0.000000,2007,都沒有

0       False
1       False
2       False
3       False
4       False
        ...
1048    False
1049    False
1050    False
1051     True
1052     True
Name: IncomeContributionRate, Length: 1053, dtype: bool

In [11]:
# IncomeContributionRate
# data2007.loc[:, 'IncomeContributionRate'] = data2007.loc[:,'Income']/ (data2007.loc[:,'Income'] + data2007.loc[:,'Income(Mate)'])

In [13]:
# data2007 = ChangeColumnNames(data2007)

In [ ]:
##data2007['Time']

In [ ]:
# ValueInColumns(data2007)
# data2007 = ChangeValueInColumns(data2007)

## process

In [94]:
##  model1

In [78]:
data2007model1 = data2007.copy()

In [111]:
data2007 = 0